@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* overflow: hidden; */
}

/* NAV BAR */
.nav_bar {
  display: flex;
  justify-content: space-between;
  padding: 0 85.33px;
  transform: scaleY(1);
}

.nav_one {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.nav_one img {
  width: 44px;
  height: 40px;
}

.nav_one h4 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.nav_inn {
  display: flex;
  gap: 42.67px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.nav_inn a {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  font-weight: 400;
}

.nav_inn a:hover {
  color: #5e3bee;
}

.nav_las {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.nav_las button {
  color: #5e3bee;
  /* padding: 10.67px; */
  border-radius: 5.33px;
  border: none;
  font-weight: 400;
  border: 1px solid #5e3bee;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  width: 140px;
  padding: 10px 0px;
  border-radius: 7px;
  cursor: pointer;
}

.nav_las button:hover {
  background: #5e3bee;
  color: #ffffff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
}

@media only screen and (max-width: 700px) {
  .nav_bar {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
  }

  .nav_one img {
    width: 24px;
    height: 20px;
  }

  .nav_one h4 {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0 auto;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
    cursor: pointer;
    margin-right: 30px;
    /* border: 1px solid red; */
    width: 40px;
    margin: auto 50px;
  }

  .bar {
    width: 50%;
    height: 1px;
    background-color: black;
    padding: 1px 10px;
    transition: 0.8s ease-in-out;
    margin: 1px;
  }

  .nav_inn {
    transform: scaleY(0);
    position: absolute;
    background-color: #ffffff;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 22.67px;
    padding: 10px;
    width: 20%;
    left: 0;
    align-items: center;
    transition: 0.8s ease-in-out;
    transform-origin: top;
  }

  .nav_bar.active .nav_inn {
    transform: scaleY(1);
  }

  .nav_inn a {
    font-family: "Roboto", sans-serif;
    font-size: 16.33px;
    font-weight: 400;
  }

  .bar1.active {
    transform: rotate(45deg);
    position: relative;
    top: 11px;
  }

  .bar2.active {
    opacity: 0;
  }

  .bar3.active {
    opacity: 0;
  }

  .bar4.active {
    transform: rotate(-45deg);
    position: relative;
    bottom: 9.5px;
  }

  .nav_las button {
    color: #5e3bee;
    /* padding: 10.67px; */
    border-radius: 5.33px;
    border: none;
    font-weight: 400;
    border: 1px solid #5e3bee;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 80px;
    padding: 8px 0px;
    border-radius: 7px;
    cursor: pointer;
  }
}

/* ========== HEADER =========== */
header {
  display: flex;
  justify-content: space-between;
  background-color: #f5fcff;
  /* height: 996.41px; */
  padding: 80.33px 85.33px;
}

.header_left {
  text-align: start;
  margin-top: 50px;
}

.header_left h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.header_left h1 {
  font-family: "Roboto", sans-serif;
  font-size: 54.67px;
  font-weight: 700;
  line-height: 50.6px;
  margin: 20px 0 0 0;
}

.header_left p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #1c1e53;
}

.header_but {
  width: 170.67px;
  /* height: 69.33px; */
  border-radius: 5.33px;
}

.header_but button {
  width: 170px;
  padding: 10px 0px;
  border-radius: 4px;
  border: 1px solid #5e3bee;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #5e3bee;
  cursor: pointer;
}

.header_but button:hover {
  color: #5e3bee;
  background-color: #ffffff;
}

.img_one img {
  width: 517.33px;
  height: 429.74px;
}

@media only screen and(max-width: 700px) {
  header {
    padding: 0px 0px;
    margin: 0;
  }

  .header_left {
    text-align: start;
    margin-top: 30px;
  }

  .header_left h1 {
    font-family: "Roboto", sans-serif;
    font-size: 24.67px;
    font-weight: 500;
    line-height: 24.6px;
    margin: 20px 0 0 0;
  }

  .header_left p {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #1c1e53;
  }

  .header_but {
    width: 170px;
    /* height: 69.33px; */
    border-radius: 5.33px;
    /* border: 1px solid red; */
    text-align: center;
  }

  .header_but button {
    width: 110px;
    padding: 6px 0px;
    border-radius: 4px;
    border: 1px solid #5e3bee;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #5e3bee;
    cursor: pointer;
  }

  .img_one img {
    width: 207.33px;
    height: 229.74px;
    margin-top: 80px;
  }
}

/* ==========SKILLS=============== */
.skills {
  padding: 80.33px 85.33px;
  height: 380px;
}

.skill_sec1 {
  text-align: start;
}

.skill_sec1 h5 {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  color: #282938;
}

.skill_sec1 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #282938;
  margin: 0;
}

.skill_sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 40px;
}

.skill_sec2 img {
  width: 53.33px;
  height: 53.33px;
  display: flex;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 7px;
}

.skillgrid {
  background-color: #dcf1f9;
  border-radius: 10.67px;
  padding: 20px;
}

.skillgrid h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #282938;
}

.skillgrid p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  color: #1c1e53;
}

.skillgrid:hover {
  border: 0px 0px 4px 0px;
  border-bottom: 4px solid #5e3bee;
}

@media only screen and(max-width: 700px) {
  .skills {
    padding: 50px 0;
    margin: 0;
    height: 380px;
  }

  .skill_sec1 h5 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18.33px;
    font-weight: 500;
    color: #282938;
  }

  .skill_sec1 h2 {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: #282938;
    margin: 0;
  }

  .skill_sec2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 40px;
  }

  .skill_sec2 img {
    width: 33.33px;
    height: 33.33px;
    display: flex;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 7px;
  }

  .skillgrid {
    background-color: #dcf1f9;
    border-radius: 10.67px;
    padding: 20px;

    height: 140px;
  }

  .skillgrid h3 {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: #282938;
  }

  .skillgrid p {
    font-family: "Roboto", sans-serif;
    font-size: 6px;
    line-height: 8px;
    font-weight: 400;
    text-align: left;
    color: #1c1e53;
  }
}

/* ==============ABOUT ME============================ */
.about_me {
  padding: 0 85.33px;
  display: flex;
  margin: 0;
  gap: 72px;
}

.about_me img {
  width: 617.33px;
  height: 529.74px;
}

.aboutright {
  text-align: start;
  margin-top: 150px;
}

.aboutright h5 {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  margin: 0;
  color: #282938;
}

.aboutright h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  color: #282938;
}

.aboutright p {
  font-family: "Roboto", sans-serif;

  font-size: 16.8px;
  font-weight: 400;
  line-height: 20px;
  color: #1c1e53;
}

@media only screen and(max-width: 700px) {
  .about_me {
    padding: 0 0;
    display: flex;
    margin: 0;
    gap: 52px;
  }

  .about_me img {
    width: 207.33px;
    height: 229.74px;
    margin-top: 150px;
  }

  .aboutright {
    text-align: start;
    margin-top: 150px;
  }

  .aboutright h5 {
    font-family: "Roboto", sans-serif;
    font-size: 18.33px;
    font-weight: 500;
    margin: 0;
    color: #282938;
  }

  .aboutright h3 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #282938;
  }

  .aboutright p {
    font-family: "Roboto", sans-serif;
    font-size: 10.8px;
    font-weight: 400;
    line-height: 15px;
    color: #1c1e53;
  }
}

/* ======RECENT============== */
.recentPro {
  padding: 80.33px 85.33px;
  margin-bottom: 20px;
}

.up_recent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.up_recent h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 16.33px;
  font-weight: 600;
  color: #282938;
  text-align: start;
}

.up_recent h3 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 44px;
  font-weight: 700px;
  color: #282938;
}

.gitlink {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #7e69d3;
  background-color: #7e69d3;
  padding: 0 8px;
  border-radius: 5px;
  text-decoration: none;
  gap: 5px;
}

.gitlink p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15.33px;
  font-weight: 400;
}

.low_recent .extract {
  width: 344.67px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.low_recent {
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.lowrd {
  border: none;
  box-shadow: 6px 6px 6px 0 #c5c3c3;
  border-radius: 10px;
  opacity: 1.5;
  padding-bottom: 20px;
}

.lowrd h5 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin: 15px 0 0 15px;
}

.plo {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 15px 0 0 15px;
}

.port_a {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  text-decoration: none;
  margin-left: 15px;
  border-bottom: 1.5px solid #000000;
  width: 118px;
}

.port_a p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 2px;
}

.port_a img {
  width: 12px;
  height: 12px;
  margin-top: 16px;
}

@media only screen and (max-width: 700px) {
  .recentPro {
    margin: 50px 0 20px 0;
    padding: 0px 0px;
  }

  .up_recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .up_recent h5 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 14.33px;
    font-weight: 500;
    color: #282938;
    text-align: start;
  }

  .up_recent h3 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-size: 34px;
    font-weight: 500px;
    color: #282938;
  }

  .gitlink {
    padding: 0 5px;
    gap: 3px;
  }

  .gitlink p {
    font-size: 12.33px;
    font-weight: 400;
  }

  .low_recent .extract {
    width: 344.67px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .low_recent {
    /* border: 1px solid red; */
    width: 244.67px;
    height: 200px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .lowrd {
    border: none;
    box-shadow: 6px 6px 6px 0 #c5c3c3;
    border-radius: 10px;
    opacity: 1.5;
    padding-bottom: 20px;
  }

  .lowrd h5 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 15px 0 0 15px;
  }

  .plo {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 15px 0 0 15px;
  }

  .port_a p {
    font-size: 14px;
  }

  .port_a img {
    width: 12px;
    height: 12px;
    margin-top: 16px;
  }
}

/* ===========TESTIMONIALS===================== */
.testimony {
  padding: 80.33px 85.33px;
  background-color: #eff7fa;
}

.testi_upper h5 {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  text-align: left;
  color: #282938;
  margin: 0;
}

.testi_upper h2 {
  font-family: "Roboto", sans-serif;
  font-size: 44.33px;
  font-weight: 700;
  text-align: left;
  color: #282938;
  /* margin: 0; */
}

.testi_lower {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.testeachgrid {
  width: 335.67px;
  padding-top: 42.67px;
  gap: 32.67px;
  border-radius: 8px;
  border: 1.33px solid #006b6a;
}

.starr {
  display: flex;
  gap: 6px;
  width: 26.67px;
  margin-left: 25px;
}

.testupp {
  font-family: "Roboto", sans-serif;
  font-size: 12.8px;
  font-weight: 400;
  margin-left: 25px;
  line-height: 20px;
  text-align: start;
}

.testipro {
  display: flex;
  margin-left: 25px;
  gap: 10.33px;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.testipro img {
  width: 64.67px;
  height: 64.67px;
}

.testiname h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20.33px;
  font-weight: 600;
  text-align: left;
  color: #282938;
  margin: 0;
}

.testiname p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15.33px;
  font-weight: 400;
  text-align: left;
  color: #1c1e53;
}

@media only screen and(max-width: 700px) {
  .testimony {
    padding: 0 0;
    margin: 950px 0 0 0;
  }

  .testi_upper h5 {
    font-size: 18.33px;
    font-weight: 500;
  }

  .testi_upper h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30.33px;
    font-weight: 500;
  }

  .testi_lower {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

/* ==============CONTACT ======== */
.contactside {
  width: 800px;
  margin: 80px auto;
}

.cf_up h5 {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  text-align: center;
  color: #282938;
  margin: 0;
}
.cf_up h3 {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  color: #282938;
  margin: 0;
}

.cf_up p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #1c1e53;
  margin-bottom: 30px;
}

.contactside .contact_form {
  max-width: 600px;
  margin: auto;
}

.confirlas {
  display: flex;
  justify-content: space-between;
}

.cf_firstname {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.confirlas input {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border: 1.53px solid #282938;
  opacity: 0.4;
}

.confirlas label {
  text-align: start;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 16.33px;
  font-weight: 400;
  color: #282938;
}

.cf_textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cf_textarea label {
  text-align: start;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 16.33px;
  font-weight: 400;
  color: #282938;
}

.cf_textarea textarea {
  border-radius: 5px;
  border: 1.53px solid #282938;
  opacity: 0.4;
}

.cf_textarea textarea::placeholder {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-size: 16.33px;
  font-weight: 400;
  color: #505050;
  /* text-align: left; */
}

.check {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 5px;
  margin-bottom: 20px;
}

.check label {
  font-size: 14.67px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #282938;
}

.submit {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.submit button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: #5e3bee;
  border-radius: 5.33px;
  border: none;
  font-weight: 400;
  border: 1px solid #5e3bee;
  font-size: 14px;
  width: 600px;
  padding: 10px 70px;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 30px;
}

@media only screen and(max-width: 700px) {
  .contactside {
    width: 800px;
    margin: 80px 0;
    /* border: 1px solid red; */
    text-align: start;
  }

  .cf_up h5 {
    font-size: 18.33px;
    font-weight: 500;
    text-align: start;
  }

  .cf_up h3 {
    font-size: 40px;
    font-weight: 700;
    text-align: start;
  }

  .cf_up p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: start;
    color: #1c1e53;
    margin-bottom: 25px;
  }

  .contactside .contact_form {
    max-width: 600px;
    margin: 0;
  }

  .confirlas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cf_firstname {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .confirlas input {
    width: 250px;
    height: 20px;
    border-radius: 5px;
    border: 1.53px solid #282938;
    opacity: 0.4;
  }

  .confirlas label {
    text-align: start;
    margin-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 16.33px;
    font-weight: 400;
    color: #282938;
  }

  .cf_textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .cf_textarea label {
    text-align: start;
    margin-bottom: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 16.33px;
    font-weight: 400;
    color: #282938;
  }

  .cf_textarea textarea {
    border-radius: 5px;
    border: 1.53px solid #282938;
    opacity: 0.4;
    /* border: 1px solid blue; */
    width: 300px;
  }

  .cf_textarea textarea::placeholder {
    font-family: "Roboto", sans-serif;
    padding-left: 10px;
    font-size: 16.33px;
    font-weight: 400;
    color: #505050;
    /* text-align: left; */
  }

  .check {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 5px;
    margin-bottom: 20px;
  }

  .check label {
    font-size: 14.67px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #282938;
  }

  .submit {
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
  }

  .submit button {
    width: 300px;
  }
}

/* =========== FOOTER ============== */
.footerking {
  padding: 80.33px 85.33px;
  background-color: #eff7fa;
}

.footerup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footermid {
  display: flex;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18.33px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.footlast img {
  width: 32px;
  height: 32px;
  padding: 4px 9.33px;
  border-radius: 5.33px 0px 0px 0px;
  opacity: 0px;
}

.footerdown {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 18.67px;
  font-weight: 400;
}

.ftdown {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 20px;
}

@media (max-width: 700px) {
  .footerking {
    margin: 0;
    padding: 70px 0;
  }

  .footerup {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .footermid {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 10.33px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }

  .footlast img {
    width: 18px;
    height: 18px;
    padding: 4px 9.33px;
    border-radius: 5.33px 0px 0px 0px;
    opacity: 0px;
  }

  .footerdown {
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 10.67px;
    font-weight: 400;
  }

  .ftdown {
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 10px;
    font-size: 10px;
  }
}
